<p id="notice"><%= notice %></p>

<section class="content-header">
      <h1>
        Messages
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Messages</li>
      </ol>
    </section>
    <section>
 <div class="col-md-12">
          <div class="box">
            <div class="box-header">

              <div class="box-tools">
<%= link_to 'New Message', new_message_path %>

              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table">
                <tr>
                  <th>Subject</th>
                  <th>Content</th>
                  <th>Type</th>
                  <th>Parent</th>
                  <th>Student</th>
                  <th>Teacher</th>
                  <th>Report</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
    <% @messages.each do |message| %>
                 <tr>
                  <td><%= message.subject %></td>
                  <td><%= message.content %></td>
                  <td><%= message.type %></td>
                  <td><%= message.parent %></td>
                  <td><%= message.student %></td>
                  <td><%= message.teacher %></td>
                  <td><%= message.report %></td>
                  <td><%= link_to 'Show', message %></td>
                  <td><%= link_to 'Edit', edit_message_path(message) %></td>
                  <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
             </tr>
                 <% end %>

              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          
        </div>
</section>




