<p id="notice"><%= notice %></p>
<h1> Messages </h1>

<table class="table">

  <thead>
<tr><th colspan="6">
<%=form_tag(messages_path, method: :get) do %>
<%= text_field_tag :term, params[:term] ,class:"search-input" %>
</th><th>
<%=submit_tag :Search  %>
<% end %>
</th>
<th colspan="3">
<%= link_to new_message_path do %>
   <%= image_tag "add.png", class: "add" %>
<% end %>
</th>
</tr>
                <tr>
                  <th>Subject</th>
                  <th>Content</th>
                  <th>Type</th>
                  <th>Parent</th>
                  <th>Student</th>
                  <th>Teacher</th>
                  <th>Report</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                </thead>
    <% @messages.each do |message| %>
                 <tr>
                  <td><%= message.subject %></td>
                  <td><%= message.content %></td>
                  <td><%= message.type %></td>
                  <td><%= message.parent %></td>
                  <td><%= message.student %></td>
                  <td><%= message.teacher %></td>
                  <td><%= message.report %></td>
                  <td><%= link_to 'Show', message %></td>
                  <td><%= link_to 'Edit', edit_message_path(message) %></td>
                  <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
             </tr>
                 <% end %>

              </table>



