<p id="notice"><%= notice %></p>

<p>
  <strong>Designation:</strong>
  <%= @class.designation %>
</p>

<p>
  <strong>Level:</strong>
  <%= @class.level %>
</p>

<%= link_to 'Edit', edit_class_path(@class) %> |
<%= link_to 'Back', classes_path %>
