<p id="notice"><%= notice %></p>


<section class="content-header">
      <h1>
        Parents
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Parents</li>
      </ol>
    </section>
    <section>
 <div class="col-md-12">
          <div class="box">
            <div class="box-header">

              <div class="box-tools">
<%= link_to 'New Parent', new_parent_path %>

              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table">
                <tr>
               <th>First name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th>Group</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
 <% @parents.each do |parent| %>
                 <tr>
               <td><%= parent.first_name %></td>
        <td><%= parent.last_name %></td>
        <td><%= parent.phone %></td>
        <td><%= parent.group %></td>
        <td><%= link_to 'Show', parent %></td>
        <td><%= link_to 'Edit', edit_parent_path(parent) %></td>
        <td><%= link_to 'Destroy', parent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
                 <% end %>

              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          
        </div>
</section>



