<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @parent.id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @parent.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @parent.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @parent.phone %>
</p>

<p>
  <strong>Group:</strong>
  <%= @parent.group %>
</p>

<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>
