<!DOCTYPE html>
<html>
  <head>
    <title>School</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
<header>
<b><i>School Management</i></b>
<div class="logout">Logout</div>
</header>
<section class="menu">
<div class="menucontent"><b><%= link_to 'Classes', classes_path %></b></div>
<div class="menucontent"><b><%= link_to 'Groups', groups_path %></b></div>
<div class="menucontent"><b><%= link_to 'Levels', levels_path %></b></div>
<div class="menucontent"><b><%= link_to 'Teachers', teachers_path %></b></div>
<div class="menucontent"><b><%= link_to 'Students', students_path %></b></div>
<div class="menucontent"><b><%= link_to 'Parents', parents_path %></b></div>
<div class="menucontent"><b><%= link_to 'Messages', messages_path %></b></div>
<div class="menucontent"><b><%= link_to 'Reports', reports_path %></b></div>
<div class="menucontent"><b><%= link_to 'Teachings', teachings_path %></b></div>

</section>
<section class="content">
          
  <%= yield %>
  <section>
</body>
</html>
